.mainContainer{
    display: grid;
    grid-template-columns: 3fr 10fr;
}


.descriptionBlock{
    padding: 10px;
}

.img {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.imgLookingForAJob {
    width: 30px;
}