.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  background: white;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "h h"
    "n c";
}

.app-wrapper-content {
  grid-area: c;
  background: white;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #333;
}
